@import 'config';
@import 'utils';

#section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 90vh;
  padding: 0 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url('../images/bg-intro.jpg') center center / cover no-repeat;
  h1 {
    font-size: 3.5rem;
    color: $white-color;
  }
}

#section2 {
  margin: 20rem auto 10rem;
  .card {
    .img-div {
      position: relative;
      img {
        height: 350px;
        object-fit: cover;
      }
      span a {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5rem 1rem;
        color: $white-color;
        background: #0099ff;
        font-size: 1.2rem;
      }
      span a:hover {
        background: darken(#0099ff, 10%);
      }
    }

    .sub-caption {
      padding: 1.5rem;
      font-size: 1.5rem;
      p {
        padding: 0.5rem 0 1rem;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      i {
        font-size: 1.6rem;
      }
      a {
        font-size: 0.9rem;
        margin-left: 1rem;
        text-transform: uppercase;
      }
      a:hover {
        font-weight: bold;
      }
    }
  }
}

@import 'mobile';
